.grid {
  margin-top: 32px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
}

p {
  color: #777;
  line-height: 1.5;
}

.important {
  margin-top: 32px;
  color: #3F51B5;
  text-align: center;
}

.error {
  margin-top: 32px;
  color: #f44336;
  font-weight: 700;
  letter-spacing: 1px;
}
